/build/reports/tests/test/css/base-style.css
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/classes/java/main/ChangeCalculator.class
/build/tmp/compileJava/compileTransaction/stash-dir/ChangeCalculator.class.uniqueId0
/build/classes/java/test/ChangeCalculatorTest.class
/build/tmp/compileTestJava/compileTransaction/stash-dir/ChangeCalculatorTest.class.uniqueId0
/build/reports/tests/test/classes/ChangeCalculatorTest.html
/.gradle/8.4/checksums/checksums.lock
/build/reports/tests/test/packages/default-package.html
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/GFG.class
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/build/reports/tests/test/index.html
/.gradle/8.4/fileChanges/last-build.bin
/.gradle/8.4/checksums/md5-checksums.bin
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/reports/tests/test/js/report.js
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/build/test-results/test/binary/results.bin
/.gradle/8.4/checksums/sha1-checksums.bin
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-ChangeCalculatorTest.xml
